
<section class="page-section" id="database">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2 class="text-center mt-0">Admin felület</h2>
                <hr class="divider" />
                <p class="text-muted text-center mb-4">
                    Nem volt megadva feladat.
                </p>
            </div>
        </div>
    </div>
</section>
