
<section class="page-section" id="database">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2 class="text-center mt-0">Üzenetek</h2>
                <hr class="divider" />
                <p class="text-muted text-center mb-4">

                    <div class="container mt-4">
                      <h1>Processzor szerkesztése</h1>

                      <form method="POST" action="/crud/edit/<%= item.id %>">
                        <input class="form-control mb-2" name="gyarto" value="<%= item.gyarto %>" required>
                        <input class="form-control mb-2" name="tipus" value="<%= item.tipus %>" required>
                        <button class="btn btn-primary">Mentés</button>
                      </form>
                    </div>

                </p>
            </div>
        </div>
    </div>
</section>
